body{
    background-color: #F6F8FF;
}


.CalcContainer{
  margin: 0 auto;
  max-width: 120rem;
  display: flex;
  padding-top: 10rem;
}

.About {
  flex:50%;
  padding-left: 2.5%;
}

.Result {
  font-size: 3em;
}

.Prefix {
    color: red;
    margin-top: 10px;
}

.NoSheets {
    color: green;
    font-size: 7em;
    text-align: center;
}

.CalcFieldsContainer {
  flex: 50%;
  padding-right: 2.5%;
  justify-content: center;
  align-items: center;
}

.Advanced {
  color: #555;
  width: 100%;
  margin-top: 5em;
  font-size: 1.5em;
  text-align: center;
}

.CalcField {
  list-style-type: none;
  margin: 1em 0em;
  font-size: 2em;
  transition: all 150ms linear 0s;

  @media (max-width: 768px) {
    font-size: 1em;
  }
}

.CalcField label {
    color: #555;
    margin-right: 1.5rem;
    text-decoration: none;
}

.CalcField input {
    width: 4em;
    float: right;   
    border: none;
    border-bottom: 1px solid #666;  
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 20px;
    
    @media (max-width: 768px) {
      width: 2em;
    }
  }
  
.CalcField :hover {
    color: red;
}

.CalcField :focus {
      color: red;
}

.label {
  font-size: 30px;
  max-width: 20rem;
  display: flex;
  margin: auto;
  padding: 1em;
}